<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    RewriteEngine On
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]
    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # cors
    # Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript
</IfModule>

<FilesMatch "\.(ico|css|js|gif|jpe?g|png|webp|woff2?|ttf|svg)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

#<IfModule mod_headers.c>
#    Header set Access-Control-Allow-Origin "*"
#</IfModule>

# Hide a specific file
<Files .env>
    Order allow,deny
    Deny from all
</Files>
